name: Deploy to Linode

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Buildx = modern Docker image builder
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build & Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend-drf
          push: true
          tags: rathankumar492/clickmart-backend:latest
        
      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: rathankumar492/clickmart-frontend:latest
          build-args: VITE_SERVER_BASE_URL=${{ secrets.VITE_SERVER_BASE_URL }}

      - name: Deploy on Linode
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.LINODE_HOST }}
          username: ${{ secrets.LINODE_USER }}
          key: ${{ secrets.LINODE_SSH_KEY }}
          script: |
            cd /opt/linode-app
            docker compose pull
            docker compose up -d --pull always --force-recreate
